.attribute {
  display: flex;
  justify-content: space-between;
  padding: .5rem;
}

.label {
  font-weight: bold;
}

.value {
  text-align: right;
}

.scroll {
  white-space: nowrap;
  overflow-x: scroll;
}